.calc{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:50px;
    width: 50px;
    background-color: rgb(223, 90, 28);
    margin: 1px;
    justify-content: center;
}

.box:hover{
    background-color: rgb(223, 130, 28);
}

.box:active, .box:focus{
    background-color: rgb(223, 170, 28);
}

.box.zero{
    height: inherit;
    width: 154px;
}

.box.backspace{
    height: inherit;
    width:102px;
}

.view{
    background-color:black;
    width: 210px;
    display: flex;
    justify-content: center;
}

.view-box{
    height:50px;
    width:206px;
    margin:1px;
    background-color: aqua;
}

.pad{
    display: flex;
    justify-content: center;
    width: 210px;
    flex-wrap: wrap;
    background-color: black;
}